In [1]:
import pandas as pd
hdb = pd.read_csv('./datasets/hdb_streamlit.csv')

In [2]:
hdb.head()

,Unnamed: 0,id,Tranc_YearMonth,town,flat_type,street_name,storey_range,floor_area_sqm,flat_model,resale_price,...,bus_stop_nearest_distance,pri_sch_nearest_distance,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,Mature Estates,zone_east,zone_north,zone_south,zone_west
0,0,122598,2012-07-01,BISHAN,5 ROOM,BISHAN ST 13,07 TO 09,130,Improved,665000.0,...,58.207761,415.607357,1,447.894399,232,1.0,False,True,False,False
1,1,86070,2012-04-01,BISHAN,4 ROOM,BISHAN ST 22,01 TO 05,103,Model A,550000.0,...,43.396521,389.515528,1,389.515528,253,1.0,False,True,False,False
2,2,26610,2013-01-01,GEYLANG,3 ROOM,ALJUNIED CRES,07 TO 09,65,Improved,335000.0,...,229.680469,594.128568,1,608.838174,224,1.0,True,False,False,False
3,3,173300,2018-05-01,HOUGANG,5 ROOM,HOUGANG AVE 8,07 TO 09,120,Improved,433000.0,...,46.567429,331.669318,0,294.826501,224,0.0,True,False,False,False
4,4,103385,2014-06-01,SENGKANG,5 ROOM,ANCHORVALE RD,10 TO 12,110,Improved,490000.0,...,89.350913,94.340507,0,458.532781,243,0.0,False,True,False,False